/* Header Start */

.header_wrapper {
    width: 100%;
}

.header_components {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.header_logo {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.04em;
    text-align: left;
}

.header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_nav{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    padding: 8px 12px;
}

.header_nav_button{
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_nav_icon {
    rotate: -90deg;
}

.header_button{
    display: flex;
    gap: 8px;
    border: 1px solid #E1E4EA;
    border-radius: 59px;
}

.header_button_icon{
    display: flex;
    padding: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #525866;
}

.header_button_text{
    padding-left: 4px;
    color: #0E121B;
}

/* Header End */